{{ extend './layouts/layout.html' }}

{{ block 'head' }}
<style></style>
{{ /block }}

{{ block 'body' }}
<div class="container-fluid">
  <div class="page-title">
    <h1>修改密码</h1>
  </div>
  <form id="userPwd_form" class="form-horizontal">
    <div class="form-group">
      <label for="old" class="col-sm-3 control-label">旧密码</label>
      <div class="col-sm-7">
        <input id="old" name="admin_pwd" class="form-control" type="password" placeholder="旧密码">
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-sm-3 control-label">新密码</label>
      <div class="col-sm-7">
        <input id="password" name="admin_npwd" class="form-control" type="password" placeholder="新密码">
      </div>
    </div>
    <div class="form-group">
      <label for="confirm" class="col-sm-3 control-label">确认新密码</label>
      <div class="col-sm-7">
        <input id="confirm" name="admin_rnpwd" class="form-control" type="password" placeholder="确认新密码">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-7">
        <button type="submit" class="btn btn-primary">修改密码</button>
      </div>
    </div>
  </form>
</div>
{{ /block }}

{{ block 'script' }}
<script src="/public/assets/js/admin/pwd.js"></script>
{{ /block }}